<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos-Solution</title>
    <!-- materialize link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- stylesheet link -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- materialize script -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- connecting script file -->
    <script src="/js/index.js" defer></script>
    <!-- fontawesome script -->
    <script defer src="https://kit.fontawesome.com/4ed1220c87.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav>
        <div class="nav-wrapper #ff5252 red accent-2
        ">
            <a href="#" class="brand-logo" style="margin-left:10px;"> Welcome to Chaos-Solution</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="../">Home</a></li>
                <li><a href="../login">Login</a></li>
                <li><a href="../register">Register</a></li>
            </ul>
        </div>
    </nav>