<%- include('./partials/header') %>

<main class="#ffebee red lighten-5">
    <h1 class="welcome-heading">Hey! Welcome</h1>

    <a href="/register" class="waves-effect waves-light btn center #ff5252 red accent-2" style="margin-top: 5rem;">Click here to Register</a>
    <a href="/login"class="waves-effect waves-light btn center #ff5252 red accent-2">Click here to Login</a>
</main>

<%- include('./partials/footer') %>